<h1>Listing limitations</h1>

<table>
  <tr>
    <th>User</th>
    <th>My lists</th>
    <th>Products per list</th>
    <th>Prm reports</th>
  </tr>

<% @limitations.each do |limitation| %>
  <tr>
    <td><%=h limitation.user_id %></td>
    <td><%=h limitation.my_lists %></td>
    <td><%=h limitation.products_per_list %></td>
    <td><%=h limitation.prm_reports %></td>
    <td><%= link_to 'Show', limitation %></td>
    <td><%= link_to 'Edit', edit_limitation_path(limitation) %></td>
    <td><%= link_to 'Destroy', limitation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= will_paginate @limitations %>
<br />

<%= link_to 'New limitation', new_limitation_path %>