<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="Online marketing research software and service focused on customers' opinion mining, voice of customer analysis and customer satisfaction measurements" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <title><%= page_title %></title>
  <meta name="keywords" content="online market research, consumer product ratings, market research services, semantic analysis, market intelligence, consumer reports, product ratings">
  <%= stylesheet_link_tag 'reviews.css', 'panel.css', 'style.css', 'Modal.css', 'prd_widget', '/aai/css/prm_style.css', '/css/global.css', '/stylesheets/prototip.css' %>
	<%= javascript_include_tag :application %>
  <% default_content_for :head_javascript do -%>

  <% end -%>

  <%= render 'shared/google_analytics_head' %>
  <%= render 'shared/quantcast' %>
  <%= stylesheet_link_tag "button" %>
<!--[if IE 9]>
  <link rel="stylesheet" type="text/css" href="/stylesheets/ie9.css" />
<![endif]-->
<!--[if IE 8]>
  <link rel="stylesheet" type="text/css" href="/stylesheets/ie8.css" />
<![endif]-->
<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="/stylesheets/ie7.css" />
<![endif]-->
</head>
