<%= stylesheet_link_tag "/css/additional" %>
<% if params[:product] && params[:product] != "" && @products.empty? %> 
<%= render "/shared/search_not_found" %>

<% end %>
<% unless @products.empty? -%>
<% form_remote_tag :url => "/product_groups/my_products", :loading => "Element.show('loading_bar')", :complete => "Element.hide('loading_bar')", :html => {:id => "update_search_results_form"} do %>

<%= hidden_field_tag 'page', params[:page].blank? ? 1 : params[:page] %>
<%= hidden_field_tag "product", params['product'] %> 
<%= hidden_field_tag 'type', params['type'] %>
<%= hidden_field_tag 'form_action' %>

<div class="accordion_bar"   style="margin: 30px 0 0 0 ">
  <% if @products.next_page -%>
    <%= image_submit_tag("/images/nxt_button.png", :class=>"header_btns", :onClick => "$('update_search_results_form').form_action.value='next_page'") %>
  <% end -%>
  <% if @products.previous_page -%>
    <%= image_submit_tag("/images/prv_button.png", :class=>"header_btns", :onClick => "$('update_search_results_form').form_action.value='prev_page'") %>  
  <% end -%>
  <label class="rowdd"><%= page_entries_info(@products, :entry_name => 'product') %></label>
</div>

<table class="prm_table" style='width:767px' cellspacing="0">
  <tbody>
    <tr>
      <th class="sortable_column">Manufacturer</th>
      <th class="sortable_column">Product name</th>
      <th class="sortable_column">Category</th>
      <th class="sortable_column" width="120px"></th>
    </tr>
    <% @products.each do |product| -%>
    <tr>
      <td><%= product.manufacturer %></td>
      <td><%= link_to product["name"], product_path(product['id']) %></td>
      <td><%= product.categories[0] %></td>
      <td>
        <% included = false %>
        <% @groups.each do |group| -%>
          <% included = true if group.try(:products).try(:[],0)==product %>
        <% end %>

        <% if included -%>
          <div class="subscribed_message" style='height:14px;margin-top:-23px'>Added!</div>
        <% else -%>
          <div><%= link_to_remote "Add to My Products", :url  => {:controller => 'product_groups', :action => "create_my_product", :product_id => product.id}, :loading => "Element.show('loading_bar')", :complete => "Element.hide('loading_bar')", :html => { :style=>'padding:1px;letter-spacing:0px;font-size:11px', :class=>"button_yellow" }, :with => "'product=#{params[:product]}&type=#{params[:type]}&page=#{params[:page]}'" %>
          </div>
        <% end %>
      </td>
    </tr>
    <% end -%>
  </tbody>
</table>
<div id="bottombar">
  <ul>
    <% if @products.next_page -%>
      <li class="fl_right"><%= image_submit_tag("/images/nextbtnonwhite.png", :onClick => "$('update_search_results_form').form_action.value='next_page'") %></li>
    <% end -%>
    <% if @products.previous_page -%>
      <li class="fl_right"><%= image_submit_tag("/images/prv_btn_onwhite.png", :onClick => "$('update_search_results_form').form_action.value='prev_page'") %></li> 
    <% end -%>
    <li class="fl_right"><label><%= page_entries_info(@products, :entry_name => 'product') %></label>
  </ul>
</div>
<% end -%>
<% end -%>

<%= render "my_products" %>