<div id="content_area">
<h2>Resend unlock instructions</h2>

<% form_for resource_name, resource, :url => unlock_path(resource_name) do |f| %>
  <%= f.error_messages %>

  <table width="100%" cellspacing="5">
    <tbody>
      <tr>
        <td>
          <span style="padding: 0px;" class="label1">
            <%= f.label :email %>
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.text_field :email, :tabindex=>"1", :style=>"width: 400px; margin-left: 0px;", :class=>"shadowEditBox" %>
        </td>
      </tr>
    </tbody>
  </table>

  <p><%= f.submit "Resend unlock instructions" %></p>
<% end %>
<br />
<%= render :partial => "shared/devise_links" %>
</div>