<p>
  <b>Product:</b>
  <%=h @review.product_id %>
</p>

<p>
  <b>Last update date:</b>
  <%=h @review.last_update_date %>
</p>

<p>
  <b>Title:</b>
  <%=h @review.title %>
</p>

<p>
  <b>Csi score:</b>
  <%=h @review.csi_score %>
</p>

<p>
  <b>Reliability score:</b>
  <%=h @review.reliability_score %>
</p>

<p>
  <b>Reviewer name:</b>
  <%=h @review.reviewer_name %>
</p>

<p>
  <b>Functionality score:</b>
  <%=h @review.functionality_score %>
</p>

<p>
  <b>Site:</b>
  <%=h @review.site %>
</p>

<p>
  <b>Reviewer email:</b>
  <%=h @review.reviewer_email %>
</p>

<p>
  <b>Reviewer country:</b>
  <%=h @review.reviewer_country %>
</p>

<p>
  <b>Source url:</b>
  <%=h @review.source_url %>
</p>

<p>
  <b>Recieve date:</b>
  <%=h @review.recieve_date %>
</p>

<p>
  <b>Reviewer state:</b>
  <%=h @review.reviewer_state %>
</p>

<p>
  <b>Text:</b>
  <%=h @review.text %>
</p>

<p>
  <b>Reviewer city:</b>
  <%=h @review.reviewer_city %>
</p>

<p>
  <b>Support score:</b>
  <%=h @review.support_score %>
</p>

<p>
  <b>Visibility:</b>
  <%=h @review.visibility %>
</p>


<%= link_to 'Back', reviews_path %>